<!doctype html>
<html>



<head>
<title>Ultra 2016 CIN Penalty Shootout</title>
<link rel="stylesheet" href="jquery-ui.min.css">
<link rel="stylesheet" href="jquery-ui.structure.min.css">
<link rel="stylesheet" href="jquery-ui.theme.min.css">
<link href="jquery-ui.css" rel="stylesheet">
<script src="jquery-ui.min.js"></script>
</head>
<body>

<h1>Ultra 2016 Penalty Shootout</h1>
<h2>Scoring for Children</h2>
</br>
<p><strong>When:</strong> Friday 11 November, 2pm UK Time</p>
<p><strong>Where:</strong> Carpark, The Oaks, Manchester, UK</p>
<p><strong>What:</strong> £2 | 5 shots | highest score wins</p>
<p><strong>1st Place Prize:</strong> 1/2 day holiday!</p>
<p><strong>2nd Place Prize:</strong> £10 Amazon Voucher</p>
</br>
<p>Register your place by emailing <a href="mailto:sam.orgill@ultra-as.com">sam.orgill@ultra-as.com</a> or any of the graduates </p>
</br>
<img src="pudseyfootball.jpg" alt="Pudsey kicking football"></image>

</body>
</html> 